<div class="innerPage">
    <% @events.each do | event | %>
        <section class="eventListCard">
            <div class="eventLeft">
                <div class="image">
                    <%= main_image(event) %>
                </div>
            </div>
            <div class="eventRight">
                <div class="eventNameDatePrice">
                    <div class="md:grow">
                        <h2 class=""><%= link_to event.name, event %></h2>
                        <h4 class=""><span class=""><%= date_and_time(event) %> in <%= event.location%></span></h4>
                    </div>
                    <div class="eventPrice">
                        <span class="">
                            <%= price(event) %>
                        </span>
                    </div>
                </div>
                <div class="eventDescription">
                    <p>
                        <%= truncate(event.description, length: 35, separator: ' ') %>
                    </p>
                </div>
            </div>
        </section>
    <% end %>

    <% if current_user_admin? %>
        <section class="admin">
            <%= link_to "Add New Event", new_event_path, class: "button" %>
        </section>
    <% end %>
</div>