<!DOCTYPE html>
<html>
  <head>
    <title>Eventz</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render "layouts/header" %>
    
    <%#div class="content"%>
    <div class="grid grid-cols-8 gap-4">
      <div class="col-start-2 col-span-6">
        <%= render "layouts/flash" %>
        <%= yield %>
      </div>
    </div>

    <%= render "layouts/footer" %> 
  </body>
</html>
